body {
  background: #000;
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
  margin: 0px;
  box-sizing: border-box;
}